<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Null</title>
</head>
<body>
  <h1>Formulario de Nombre</h1>
  <form action="/inscripcion" method="POST">
    <%- include('partials/student-data') %>
    <!-- Sección 2: Representante Legal -->
            <%- include('partials/tutor-data') %>
            
            <!-- Sección 3: Datos de los Padres -->
            <%- include('partials/parent-data') %>
            
            <!-- Sección 4: Contacto de Emergencia -->
            <%- include('partials/emergency-data') %>

            
            <!-- Sección 5: Ambiente Socio Familiar -->
            <%- include('partials/sociofamiliar-data') %>

            <!-- Sección 6: Antecedentes prenatales -->
            <%- include('partials/medical-data') %>
    <button type="submit">Enviar</button>
  </form>


</body>
</html>